[submodule "libft"]
	path = libft
	url = https://github.com/Jarnomer/libft
	branch = main
[submodule "gnl"]
	path = gnl
	url = https://github.com/Jarnomer/gnl
	branch = main
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Jarnomer/ft_printf
	branch = main
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/Jarnomer/push_swap
	branch = main
[submodule "pipex"]
	path = pipex
	url = https://github.com/Jarnomer/pipex
	branch = main
[submodule "so_long"]
	path = so_long
	url = https://github.com/Jarnomer/so_long
	branch = main
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/Jarnomer/philosophers
